<div class="main-container">
  <div class="posts-container">
    <div class="button-container account" (click)="showFilterPopUp()">
      <div class="icon-container"><i class="bx bx-filter-alt"></i></div>
    </div>
    <div class="page-title">My Friends Post's</div>
    <div class="blog_post" *ngFor="let post of posts; let i = index">
      <div class="img_pod">
        <img
          src="https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg"
          alt=""
        />
      </div>
      <div class="img-post" *ngIf="post.imageSorce">
        <img src="{{ post.imageSorce }}" alt="" />
      </div>
      <mat-chip-list aria-label="Fish selection">
        <div class="tags-post" *ngFor="let tag of post.tags">
          <mat-chip color="accent" selected>{{ tag.content }}</mat-chip>
        </div>
        <div class="tags-post" *ngFor="let userTag of post.userTaggedPost">
          <mat-chip color="primary" selected>{{
            userTag.user.userName
          }}</mat-chip>
        </div>
      </mat-chip-list>

      <h3>{{ post.date | date: "mediumDate" }}</h3>
      <p>
        {{ post.description }}
      </p>
      <div class="infos-container">
        <div class="info-container">
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a heart icon"
            (click)="addLike(post.id, i)"
          >
            <i
              [ngClass]="{
                bx: true,
                'bx-heart': !this.isPostLiked[i],
                'bxs-heart': this.isPostLiked[i]
              }"
            ></i>
            {{ postLikeCounter[i] }}
          </button>
        </div>
        <div class="info-container">
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
            (click)="postChosen(post)"
          >
            <i class="bx bx-chat"></i>
            {{ post.comments.length }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="friends-list-container">FriendsList</div>
</div>
