<div class="main-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="https://cdn.shopify.com/app-store/listing_images/0dce682fb3602fe48c948f046351cae8/icon/CM-lh970lu8CEAE=.png"
          alt="Avatar"
          style="width: 300px; height: 300px"
        />
      </div>
      <div class="flip-card-back">
        <i class="bx bxl-meta"></i>
        <h1>Same As You Know</h1>
        <p>Learn From The Social Media</p>
        <p>Which We All Know</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="https://images.unsplash.com/photo-1501183007986-d0d080b147f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJlZXxlbnwwfHwwfHw%3D&w=1000&q=80"
          alt="Avatar"
          style="width: 300px; height: 300px"
        />
      </div>
      <div class="flip-card-back">
        <i class="bx bx-world"></i>
        <h1>Share Your Favourites</h1>
        <p>Learn About New Places</p>
        <p>Find Post's By Location</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190430-make-friends-app-1556655645.jpg?crop=0.502xw:1.00xh;0.235xw,0&resize=640:*"
          alt="Avatar"
          style="width: 300px; height: 300px"
        />
      </div>
      <div class="flip-card-back">
        <i class="bx bx-message-rounded-detail"></i>
        <h1>All About The People</h1>
        <p>Keep In Touch</p>
        <p>Manage A Friend List</p>
      </div>
    </div>
  </div>
</div>
