.main-container {
  display: flex;
  animation-duration: 3s;
  animation-name: sidebarTransformer;
  flex-direction: column;
  font-weight: bolder;
  .container {
    width: 100%;
    text-align: center;
    img {
      max-width: 30%;
    }
    i {
      font-size: 8vmin;
      color: #7a8aa0;
    }
    .offline {
      color: red;
      animation: blinker 1s linear infinite;
      font-weight: bold;
      font-size: 2vmin;
      i {
        font-size: 2vmin;
        color: red;
      }
    }
    .online {
      color: green;
      animation: blinker 1s linear infinite;
      font-weight: bold;
      font-size: 2vmin;
      i {
        font-size: 2vmin;
        color: green;
      }
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  width: 100%;
  color: #7a8aa0;
  .text-container {
    font-size: 2vmin;
    transition: 0.2s;
    overflow: hidden;
    width: 0%;
  }
  .icon-container {
    text-align: center;
    margin: 10%;
  }
  .icon-container i {
    font-size: 4vmin;
  }
  &:hover {
    box-shadow: 2px 2px 6px 0px lightgrey;

    cursor: pointer;
    color: #1778f2;
    .text-container {
      width: 100%;
    }
  }
}
.container-title {
  background-color: white;
}

.first-section-container {
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.second-section-container {
  border-radius: 15px;
  margin-left: 10px;
  display: flex;

  flex-direction: column;
  &:hover {
    border-radius: 15px;
  }
}
@keyframes sidebarTransformer {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
