<div class="main-container">
  <div #logoContainer class="logo-container">
    <img src="../../assets/Images/logo.png" alt="" />
  </div>
  <!-- <div #searchContainer class="search-box">
    <input type="text" class="input-search" placeholder="Type to Search..." />
    <div class="search-input">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div> 
  </div> -->
</div>
