.main-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  .title-container {
    text-align: center;
    h1 {
      font-weight: bold;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .form-container input {
    input {
      width: 80%;
      margin: 20px;
    }
    input:focus {
      outline: none;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}
.error-container {
  color: red;
  min-height: 20px;
}
.spinner-container {
  min-height: 100px;
}
