<div class="main-container">
    <div class="title-container">
      <h1>Reset Password</h1>
    </div>
    <div class="form-container">
      
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [(ngModel)]="firstPassword" />
        <i class="mdi mdi-1emp mdi-account-outline form-icon" matSuffix></i>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Re-enter</mat-label>
        <input type="password" matInput [(ngModel)]="secondPassword" />
        <i class="mdi mdi-1emp mdi-account-outline form-icon" matSuffix></i>
      </mat-form-field>
    </div>
  <div class="button-container">
    <button (click)="sendPassword()" mat-raised-button color="primary">
      Reset 
      <i matSuffix></i>
    </button>
    {{msg}}
  </div>